In [1]:
import pandas

# Parse CSV
Ici on parse le fichier CSV et on calcule les distances de Mahalanobis entre chaque images de même

In [37]:
dataset_csv = pandas.read_csv("csv/MetaData_ALLdataset_2022.csv", header=None, usecols=[0, 13], skiprows=1) # sans clé : on charge direct que la bonne colonne
# dataset_csv = pandas.read_csv("csv/MetaData_ALLdataset_2022.csv") # avec clés => ne fonctionne pas bien ?!

In [38]:
dataset_csv

                                         0  13
0      20120921_id1_maljuv (1)_ORIGINAL.JPG  1
1      20140710_id1_maljuv (2)_ORIGINAL.JPG  2
2      20150520_id1_malado (1)_ORIGINAL.JPG  1
3      20150520_id1_malado (2)_ORIGINAL.JPG  3
4      20150520_id1_malado (3)_ORIGINAL.JPG  2
...                                     ... ..
23657          20201018_id56_femadu (2).jpg
23658         20200117_id205_femjuv (3).jpg
23659        20201216_id6076_feminf (2).JPG
23660        20201017_id152_maladu (11).jpg
23661         20201104_id188_malado (2).jpg

[23662 rows x 2 columns]

In [39]:
class Photo:

    def __init__(self, name, stack):
        self.name = name
        tmp = name.split("_")
        self.id = tmp[1]
        self.date = tmp[0]
        self.stack = stack

    def

In [29]:
for i in range(len(dataset_csv)):

20120921_id1_maljuv (1)_ORIGINAL.JPG  0.399935  0.684297  0.435779  0.857753    0.661819
20140710_id1_maljuv (2)_ORIGINAL.JPG  0.252156  0.297405  0.240076  0.631786    0.502942
20150520_id1_malado (1)_ORIGINAL.JPG  0.535506  0.457890  0.539295  0.532288    0.585309
20150520_id1_malado (2)_ORIGINAL.JPG  0.579065  0.424056  0.591723  0.510833    0.637155
20150520_id1_malado (3)_ORIGINAL.JPG  0.504507  0.454239  0.516531  0.543082    0.563981
                                                                                  ...
20201018_id56_femadu (2).jpg          0.405097  0.455739  0.384278  0.602554    0.625319
20200117_id205_femjuv (3).jpg         0.484195  0.405032  0.504689  0.724726    0.697324
20201216_id6076_feminf (2).JPG        0.511088  0.188521  0.438585  0.433317    0.817357
20201017_id152_maladu (11).jpg        0.401273  0.415676  0.365064  0.690501    0.584490
20201104_id188_malado (2).jpg         0.442500  0.228500  0.451417  0.642125    0.718250
Name: Photo_Name, Length: 23662, dtype: float64